@{
ViewData["Title"] = "Boston Build";
}

<style>
  #map {
   height: 90%;
  }
</style>
<script src = "./js/BostonMarkers.js" type="text/javascript"> </script>

<body onload ="initMap()" style="margin:0px; padding:0px;">
       <div class ="tr-map" id="map" ></div>
       <script src="~/lib/jquery/dist/jquery.js"></script>
       <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCPB1ktA7RtjeA8VFiWaE-HZMt3b0Ah7uA"> </script>
</body>

