
.tr-map {
    left: 0;
    right: 0;
    height: 100%;
    overflow-x: hidden !important;
    position: initial !important;
    margin-top: -1em;
}

.map-container {
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0px;
    right: 0;
}

.angular-google-map-container {
    height: 400px;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    padding-top: 70px;
    /*padding-bottom: 20px;*/
    height: 100%;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
